html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
img{
    vertical-align: bottom;
}
/*header*/
header{
    overflow: hidden !important;
}
#logo img{
    width: 30%;
}
#background{
    background-image: url('image/image-fond-parralax.jpg');
    min-height: 800px; 
    min-width: 200%;
    margin-left: -50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#background h2{
    color: white;
    padding-top: 40%;
    margin-left: 35%;
}
#background h3{
    color: white;
    margin-left: 35%;
    width: 40%;
}
/*1er section, Portrait de Billy Souvannalath et histoire*/
main{
    overflow: hidden !important;
}
.toppage__gridme{
    padding-bottom: 15%;
}

.toppage__grid1 img{
    width: 70%;
    border-radius: 55%;
    margin-left: 14%;
    margin-top: 10%;

    
}
.toppage__grid2 h2 {
    margin-left:4%;
}
.toppage__grid2 h3 {
    font-size: 1.25em;
    margin-left:4%;
}
.toppage__grid2 p {
    font-size: 1.2em;
    margin-left:4%;
    width: 90%;
}
/*2eme section, Les compètences*/
.skills {
    background-color: #f7ca10;
    height: 350pt;
    width:100%;

}
.skills h2{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.skills1{
    margin-left: 4%;
}
.skills1 i{
    margin-right: 1em;
}
/*3eme section, les différents témoignages, slider et blockquote*/
.sondage{
    background-color: #212020;
    height: 400pt;
    color: white;
    margin: -6%;
    overflow:  hidden !important;
}
.sondage h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
blockquote a{
    text-decoration: none;
    color: white;
    overflow: hidden !important;
}
slider{
    display: block;
    width: 90%;
    height: 30%;
    background-color: #212020;
    overflow: hidden !important;
    position: absolute;
}
slider > *{
    position: absolute;
    display: block;
    background-color: #212020;
    width: 70%;
    height: 70%;
    animation: slide 40s infinite;
    overflow: hidden !important;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
}
slide:nth-child(2){
    left: 0%;
    animation-delay: 10s;
}
slide:nth-child(3){
    left: 0%;
    animation-delay: 20s;
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 30s;
}
slide p{
    font-size: 1em;
    display: inline-block;
    width: 90%;
}
@keyframes slide {
    0%{ left: 100%; width: 100%;}
    5%{left: 0%;}
    25%{left: 0%;}
    30%{left: -100%; width: 100%;}
    30.0001%{left: -100%; width: 0%;}
    100%{left: 100%; width: 0%;}
}
/*4eme sections, portfolio*/
.portfolio{
    background-color:#F2F2F2;
    height: 1405pt;
    margin-top:-1%;
    margin-left:0% ;
    width:100%;
    padding-top:1%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 299px;  
}

.portfolio h2{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.mc{
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    width: 100%;
    height: 90%;


}
.mc:hover {

	filter: grayscale(0%);
}
/*5eme sections, différents reseaux sociaux*/
.reseaux{
    background-color: #f7ca10;
    height: 450pt;
    margin-left:0% ;
    padding-top: 40%;
    width:100%;
    font-family: 'Open Sans', sans-serif;

}
.reseaux h3{
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.btn {
    display: block;
    padding: 20px 50px;
    margin: 50px;
    background-color: #212020;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}


.btn i {
    color: rgba(255,255,255, 0);
    width: 0;
    transition: all 400ms ease;
    margin-right: 10px;
    display: none;
}
.btn:hover i {
    color: rgba(255,255,255,1);
    display: inline;
    transform: translateX(10px);
}


.fab > p{
    color: white;
    margin: 50px;
    padding: 20px 50px;
    position: relative;
}
/*6eme sections, formulaire de contact*/
.contact{
    padding-top: 15%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
#logoc{
    margin-left: 32%;
    padding-top: 50px;
}
#h2c{
    margin-left: 4%;

}
.maincontact{
    overflow: hidden !important;
}
.maincontact h1{
    display: flex;
    justify-content: center;
}

.section__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 9.5%;
  }
  
  .contact__label{
    margin-left: 2%;
    font-size: 13px;
    color: #000;
    margin-top: 14px;
    margin-bottom: 7px;
    display: block;
  }
  
  .form{
    width: 100%;
  }
  
  input{
    margin-left: 2%;
    width: 80%;
    height: 44px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
  }
  
  input[type="submit"]{
      
    border: none;
    transition: all ease 500ms;
    font-size: 16px;
  }
  
  input[type="submit"]:hover{
    background: #000;
    margin-left: 15px;
    transform: scale(1.2);
    font-size: 20px;
    border: none;
  
  }
  
  textarea{
    width: 100%;
    margin-bottom: 11px;
  }
  
  
  .submit{
    background: #000;
    width: 142px;
    height: 48px;
    color: white;
  }
  /*footer*/
.footer{
    margin-top: 10%;
    background-color: #000;
    height: 180pt;

}
.footer div{
    margin-left: 2%;
}
.footer h3{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
}
.footer a {
    text-decoration: none;
    color: gray;
}



@media screen and (min-width: 940px){
    /*header*/
    #logo img{
        display: none;
    }
    #background{
        background-image: url('image/image-fond-parralax.jpg');
        min-height: 950px; 
        min-width: 200%;
        margin-left: -50%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #background h2{
        color: white;
        padding-top: 15%;
        margin-left: 60%;
    }
    #background h3{
        color: white;
        margin-left: 60%;
        width: 40%;
    }
    /*1er section, Portrait de Billy Souvannalath et histoire*/
    .toppage__gridme{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .toppage__grid1 img{
        width: 50%;
        border-radius: 55%;
        margin-left: 27%;
    }
    /*2eme section, Les compètences*/
    .skills{
        height: 270pt;
    }
    .skills1{
        height: 200pt;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 10%;
    }
    .skills1 p {
        width: 70%;
    }
    /*3eme section, les différents témoignages, slider et blockquote*/
    .sondage{

        margin: -2%;
    }
    slider{
        display: block;
        width: 90%;
        height: 30%;
        background-color: #212020;
        overflow: hidden !important;
        position: absolute;
    }
    slider > *{
        position: absolute;
        display: block;
        background-color: #212020;
        width: 80%;
        height: 40%;
    }
    /*4eme sections, portfolio*/
    .portfolio h2{
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .portfolio{
        height: 280pt;
        background-color:#F2F2F2;
        margin-top:-1%;
        margin-left:0% ;
        padding-top:1%;
    }
    .portfolioimg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .mc{
        width: 100%;
        height: 100%;
    }
    /*5eme sections, différents reseaux sociaux*/
    .reseaux{
        background-color: #f7ca10;
        padding-top: 10%;
        height: 350pt;
    }
    .reseaux__logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .btn {
        display: block;
        padding: 20px 15px;
        margin: 100px;
        background-color: #212020;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    #logoc{
        margin-left: 44%;
    }
    /*6eme sections, formulaire de contact*/
    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 30%;
    }
    .maincontact h1{
        display: flex;
        justify-content: left;
    }

    .section__contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 10px 9.5%;
      }
      
      .contact__label{
        margin-left: 2%;
        font-size: 13px;
        color: #000;
        margin-top: 14px;
        margin-bottom: 7px;
        display: block;
      }
      
      .form{
        width: 100%;
      }
      
      input{
        margin-left: 2%;
        width: 80%;
        height: 44px;
        background: #fff;
        border: 1px solid #000;
        color: #000;
      }
      
      input[type="submit"]{
          
        border: none;
        transition: all ease 500ms;
        font-size: 16px;
      }
      
      input[type="submit"]:hover{
        background: #000;
        margin-left: 15px;
        transform: scale(1.2);
        font-size: 20px;
        border: none;
      
      }
      
      textarea{
        margin-left: 2%;
        width: 80%;
        margin-bottom: 11px;
      }
      
      
      .submit{
        background: #000;
        width: 142px;
        height: 48px;
        color: white;
      }

}

